$sm_mobile        : 400px;
$mobile           : 575px;
$mobile_horizontal: 768px;
$tablet           : 992px;
$tablet_horizontal: 1200px;
$laptop           : 1400px;

$paste-color      :#18bfc3;
$orange-color     :#fe813a;
$navy-color       :#0056b3;
$dark-color       :#222;
$deep-purple      :#592b86;

:root {
    --paste-color     :#18bfc3;
    --orange-color    :#fe813a;
    --navy-color      :#0056b3;
    --dark-color      :#222;
    --deep-purple     :#592b86;
}