.section-heading {
    &--center {
        @extend .text-center;
    }

    &__title {
        @extend .fs-1, .fw-medium, .mb-20px;
        color: $dark-color;

        @include responsive( $mobile ) {
            @extend .fs-1;
            margin-bottom: 14px;
    }

    &__sub-title {
        @extend .fs-6, .fw-normal;
        color: $deep-purple;
        margin: 0;
    }
  }
}