.banner {
    background-repeat: no-repeat;
    background-size: cover;

    // demo page banner
    &--demo {
        background-image: url(../images/common/welcome-bg.webp); 
        background-position: center;  
        .overlay {
            padding: 170px 0px;

            @include responsive( $sm-mobile ) {
                padding: 75px 0px;
            }
            
            @include responsive( $mobile ) {
                padding: 75px 0px;
            }
        } 
    }

    // index page banner
    &--1 {
        .overlay .container {
            min-height: 800px; 
        }
    }

    &__logo {
        @extend .mb-30px;
    }

    &__title {
        @extend .fw-bold, .fs-1 ,.mb-30px;
        // index page styles
        &--home {
            font-size: 64px !important;
            color: var(--bs-white)
        }
    }

    &__sub-title {
        @extend .fs-4, .mb-30px, .fw-medium;
        // index page styles
        &--home {
            font-size: 17px !important;
            color: var(--bs-white);
            max-width: 600px;
            text-align: center;
        }
    }

    &__group-btn {
        a {
            @extend .no-underline, .inline-block, .rounded-pill, .btn-base;
        }
    }
    
    &__button-primary {
        --text-color: var(--bs-white);
        --background-color: var(--paste-color);
        --hover-background-color: var(--navy-color);

        // index page styles
        &--home {
            --text-color: var(--bs-white);
            --background-color: var(--bs-white);
            --hover-background-color: var(--bs-white);
        }
    }

    &__button-secondary {
        --text-color: var(--bs-white);
        --background-color: var(--orange-color);
        --hover-background-color: var(--paste-color);   
        
        // index page styles
        &--home {
            --text-color: var(--bs-white);
            --background-color: var(--paste-color);
            --hover-background-color: var(--navy-color); 
        }
    }

    &__nav {
        @extend 
            .position-absolute, .top-50, .start-0, 
            .translate-middle-y, .d-flex, .justify-content-between, 
            .align-items-center, .w-100, %default_tarnsition;
        
        button {
            @include equal-size(50px);
            @extend .rounded-circle, .border, .border-0, %default_tarnsition, .opacity-0;
            background-color: $paste-color;
            color: var(--bs-white);

            &:hover {
                background-color: $navy-color;
            }
        }
    }

    &:hover {
        .banner__nav {
            padding: 0 40px;
            button {
                @extend .opacity-100;
            }
        }
    }

    .active {
        .banner {
            &__title,
            &__sub-title,
            &__button-primary,
            &__button-secondary {
                animation: animLeft 1s ease 100ms both;
            }

            &__sub-title {
                animation-delay: 500ms;
            }

            &__button-primary {
                animation-delay: 800ms;
            }
            
            &__button-secondary {
                animation-delay: 1200ms;
            }
        }
    }
    
}


.home-banner {
    --image-position: center top;
    &__item-1 {
        background-image: url(../images/carousel/slider_1.jpg);
        @extend %background-full;
    }
    &__item-2 {
        background-image: url(../images/carousel/slider_2.jpg);
        @extend %background-full;
    }
    &__item-3 {
        background-image: url(../images/carousel/slider_3.jpg);
        @extend %background-full;
    }

    .overlay .container {
        @extend .flex, .flex-column, .items-center, .justify-center;
    }
}